.sectionContent {
	background: #A95F72;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 400px;
	margin-right: 400px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.table {
	padding-top: 15px;
	padding-bottom: 15px;
	background: #A95F72;
}

.header h1 {
	background: #734A65;
	line-height: 20px;
}

.header h3 {
	background: #734A65;
	line-height: 10px;
}

.column {
	float: left;
	width: 50%
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
	
html, body {background: #734A65; font-family: Tahoma, Geneva, sans-serif; font-size: 16px; color: #F2F5EB; font-weight:normal;}

p, ul, h1, h2, h3, figcaption {
	margin-left: 100px;
	margin-right: 100px;
}

h1 {
	font-size: 28;
	line-height: 5px;
	color: #F2F5EB
}

h2 {
	font-weight: normal;
	font-size: 24;
}

h3 {
	font-size: 25;
	color: #F2F5EB
}

hr {
  border-style: dashed;
  color: #F2F5EB;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	width: 75%;
	border: 5px solid;
	border-color: #F2F5EB;
}

figcaption {
	line-height: 50px;
	text-align: center;
}	

a:link {
	color: #F2F5EB;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #ADACBF;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #F2F5EB;
	background-color: transparent;
	text-decoration: underline;
}

a:link:active {
	color: #F2F5EB;
}
